{% extends 'base.html' %}

{% block title %} New Zero-day Exploit Discovered in Popular CMS - Astrum IT Academy H4ck3rs {% endblock %}
{% block content %}
<main>
    <article class="post-content">
        <div class="post-meta">
            <span>Author: {{ articles.auther_name }}</span>
            <span>Date: {{ articles.created_at | date:"Y.m.d" }}</span>
        </div>
            <h1>{{ articles.title }}</h1>
            <p>{{ articles.long_content }}</p>
    </article>
</main>
{% endblock %}